.container{
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.buttons{
    border-radius: 50px;
    background-color: red;
    height: 60px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}